.customer-table {
	margin-top: 2%;
}

.input-fields {
	margin: 2% 0;
}

.input-fields-small {
	margin: .5% 1%;
}

.filter {
	margin: 1% 0 0;
}

.rightcontent {
	margin-top: 2%;
}

.error {
	background-color: red;
	color: white;
	width: 100%;
	display: block;
	text-align: center;
}